.home {
  background: url('../imgs/hero-bg.jpg') top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home::before {
  background-color: rgba(5, 13, 24, 0.3);
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.home .me {
  position: relative;
  z-index: 1;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}

.home .me h1 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
}

.home .me p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 1px;
}

.home .home__typing {
  border-bottom: 3px solid var(--blue-color-one);
  padding-bottom: 3px;
}

@media only screen and (min-width: 768px) {
  .home .me h1 {
    font-size: 64px;
    line-height: 56px;
    margin-bottom: 20px;
  }

  .home .me p {
    font-size: 26px;
    margin-bottom: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  .home {
    background-attachment: fixed;
  }
}
